.network-trace-container {
  display: flex;
  justify-items: start;

  flex-direction: row;

  height: 100%;
  /* border: 1px solid #e8e8e8; */
  background-color: white;
  width: 100%;
}

.trace-outline-square {
  border: 1px solid rgba(204, 204, 204, 0.726);
  height: 200px;
  width: 100%;
  position: relative;
}

.trace-time-identifier {
  position: absolute;
  right: 5px;
}

.trace-markers {
  position: relative;
}

.trace-marker {
  position: absolute;
  width: 200px;
  height: 5px;
  z-index: 3;
  background-color: rgba(134, 255, 97, 0.911);
  cursor: pointer;
}