.login-form {
  display: flex;
  margin: 15px;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-btn {
  margin-top: 10px;
  width: 200px;
}

.ant-form-item-control {
  width: 300px;
  margin: 5px 0;
}
